&pinctrl {
	spi1_default: spi1_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 24)>,
				<NRF_PSEL(SPIM_MOSI, 1, 0)>;
		};
	};
};

&spi1 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi1_default>;
	pinctrl-names = "default";
	cs-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;

	mipi_dbi_epd: mipi-dbi {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&spi1>;
		dc-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
		#address-cells = <1>;
		#size-cells = <0>;

		epd: ssd1680@0 {
			compatible = "solomon,ssd1680";
			reg = <0>;
			mipi-max-frequency = <4000000>;
			width = <200>;
			height = <200>;
			busy-gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
		};
	};
};

/ {
	chosen {
		zephyr,display = &epd;
	};
};
